<span>ng-group 10</span>

<mat-list>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.TYPESCRIPT]">Typescript</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.DATA_BINDING]">Data binding</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.DATA_BINDING]">Event binding</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.BUILT_IN_DIRECTIVES]">Built-in directives</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.PIPES]">Pipes</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.COMPONENT_INTERACTION]">Component interaction</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.TEMPLATE_DRIVEN_FORMS]">Template driven forms</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.MODEL_DRIVEN_FORMS]">Model driven forms</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.NOTIFICATIONS]">Notifications</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-button [routerLink]="['/', appRoutesNames.CRUD]">CRUD</button>
    </mat-list-item>
</mat-list>

<div>
    <router-outlet></router-outlet>
</div>
