<span>ng-group 10</span>

<ul>
    <li>
        <button [routerLink]="['/', 'data-binding']">Data binding</button>
    </li>
    <li>
        <button [routerLink]="['/', 'event-binding']">Event binding</button>
    </li>
    <li>
        <button [routerLink]="['/', 'typescript']">Typescript</button>
    </li>
    <li>
        <button [routerLink]="['/', 'built-in-directives']">Built-in directives</button>
    </li>
    <li>
        <button [routerLink]="['/', 'custom-pipes']">Custom pipes</button>
    </li>
    <li>
        <button [routerLink]="['/', 'component-interaction']">Component interaction</button>
    </li>
    <li>
        <button [routerLink]="['/', 'template-driven']">Template driven</button>
    </li>
</ul>

<div>
    <router-outlet></router-outlet>
</div>
